.log_inp{
  border: none;
  border-bottom: 1px solid orange;
}
.log_inp:focus{
  outline: none;
  box-shadow: 2px 2px 5px 1px lightgray;
  border: none;
}
.login_btn{
  border: none;
  background:linear-gradient(to right bottom,white,orange);
  font-size: 24px;
  border-radius: 25px;
  color: white;
}
.footer{
  position:absolute;
  bottom: 15px;
  left:20%;
}